.form {
  display: flex;
  flex-flow: column;
  background-color: #bee5eb;

  &__header {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 20px;
  }
}

.error {
  color: red;
  font-size: 14px;
}